@media only screen and (min-width: 320px) {
  
  .fontlarge{
    font-size: x-small!important;
    padding: 10px;
  }
  .fontres{
    font-size: 1.6rem !important;
  }
  .mediaheight{
    height: 150px;
  }
}
@media only screen and (min-width: 375px) {
  
  .fontlarge{
    font-size: x-small!important;
    padding: 10px;
  }
  .mediaheight{
    height: 150px !important;
  }
  
}
@media only screen and (min-width: 425px) {
  
  .fontlarge{
    font-size: x-small!important;
    padding: 10px;
  }
  .mediaheight{
    height: 150px !important;
  }
  
}
@media only screen and (min-width: 750px) {
  
  #center{
        justify-content: center !important;
    }
  .fontlarge{
    font-size: medium !important;
    padding: 10px;
  }
  .fontres{
    font-size: 30px !important;
  }
  .mediaheight{
    height: 200px !important;
  }
}
@media only screen and (min-width: 1024px) {
  
  .fontres{
    font-size: 37px !important;
  }
  
}
@media only screen and (min-width: 1440px) {
  
  .fontres{
    font-size: 40px !important;
  }
  
}

.heading{
    
    width: 100%;
    background-color: #dc1921;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    
}


.textcon .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #ffffff; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
}

.bg-red{
  background-color: #dc1921;
}





  
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}






/* test?? */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.25rem;
  overflow-y: hidden;
}
a{
  text-decoration: none;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
